/* header start */
body{
    height: 2000px;
    padding-top: 92px;
}
.header{
    background-color: grey;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px;
    z-index: 20;
}
.logo{
    margin: 0px 20px;
    display: inline-block;
    vertical-align: middle;
}
.navigation{
    display: inline-block;
    vertical-align: middle;
}
.nav-li{
    display: inline-block;
    vertical-align: middle;
}

.nav-a{
    margin-left: 50px;
    color:black;
}
.active{
    color: red;
}
/* header end */

/* section1 start */
.main{
    width: 1000px;
    height: 400px;
    background-color: purple;
    margin: 0 auto;
    position: relative;
}
.right-block{
    width:250px;
    height: 200px;
    background-color:blue;
    position: absolute; 
}
.left-block{
    width:250px;
    height: 200px;
    background-color:red;
    position: absolute;
}