/* header start */
body{
    height: 1500px;
    padding-top: 92px;
}
.header{
    background-color: grey;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px;
    z-index: 20;
}
.logo{
    margin: 0px 20px;
    display: inline-block;
    vertical-align: middle;
}
.navigation{
    display: inline-block;
    vertical-align: middle;
}
.nav-li{
    display: inline-block;
    vertical-align: middle;
}

.nav-a{
    margin-left: 50px;
    color:black;
}
.active{
    color: red;
}
/* header end */

/* section1 start */
.main{
    width: 1000px;
    height: 230px;
    /* background-color: purple; */
    margin: 0 auto;
    position: relative;
}
.right-block{
    width:400px;
    height: 200px;
    background-color:lightgrey;
    position: absolute; 
    right: 80px;
    top: 30px;
    padding: 5px 5px;
    border-radius: 20px;
    
}
.left-block{
    width:400px;
    height: 200px;
    background-color:lightgrey;
    position: absolute;
    left: 0px;
    top: 30px;
    padding: 5px 5px;
    border-radius: 20px;
    text-align: left;
}
.satauri1{
    margin: 20px 20px 20px 0;
}
/* section 1 end */

/* section 2 start */
.main2{
    width: 1000px;
    height: 300px;
    background-color: green;
    margin: 100px auto;
   
}
.surati1{
    width: 300px;
    height: 200px;
  
   
}
.surati2{
    width: 300px;
    height: 200px;
    margin:0px 20px;
   
    
}
.surati3{
    width: 300px; 
    height: 200px;
    position: absolute;
}
.section3{
    width: 400px;
    height: 200px;
    margin: 0 auto;  
}
.text2{
    font-family: 'Dancing Script', cursive;
    font-family: 'Great Vibes', cursive;
    font-size: 70px;
    text-align: center;
}